.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: var(--dark-blue);
  opacity: 0.8;


  .title {
    font-size: 18px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    flex: 1;
    text-align: center;
    position: relative;
  }

  nav {
    text-align: right;
    position: relative;

    .menu-icon {
      color: var(--white)
    }
  }
}
